.app {
  display: grid;
  grid-template-areas:
    ". title ."
    ". game controls";
  grid-template-columns: repeat(3, 1fr);
  justify-content: center;
}

.controls {
  grid-area: controls;
}

.upcoming {
  display: flex;
  flex-direction: column-reverse;
  justify-content: flex-end;
  gap: 10px;
  height: 325px;
  background-image: url('./ui/queue.png');
  background-repeat: no-repeat;
}

.spacer {
  margin-bottom: 70px;
}

.preview {
  margin-left: 37px;
  margin-bottom: 5px;
}

.background {
  transform: scale(0.55);
  visibility: hidden;
}

.title {
  grid-area: title;
  transform: scale(0.55);
  margin: auto;
}

button {
  padding: 4px;
}

body {
  background-image: url('./ui/backgrounds/background_0.png');
  background-repeat: repeat;
}

.grid {
  border: 2px solid black;
  border-radius: 3px;
  user-select: none;
  margin: auto;
  grid-area: game;
}

.newGame {
 border-radius: 2px; 
}

.newGame:hover {
  background-color: beige;
}

.row {
  display: flex;
}

.cell {
  width: 30px;
  aspect-ratio: 1;
  border: 1px solid #ddd; 
  background-color: rgba(33, 36, 39, 0.5);
  border-radius: 3px;
  background-size: contain; 
  background-repeat: no-repeat; 
  background-position: center; 
}

.cell.hidden {
  visibility: hidden;
}

.cell.I {
  background-image: url('ui/faces/face_00.png');
}

.cell.J {
  background-image: url('ui/faces/face_06.png');
}

.cell.L {
  background-image: url('ui/faces/face_02.png');
}

.cell.O {
  background-image: url('ui/faces/face_40.png');
} 

.cell.S {
  background-image: url('ui/faces/face_29.png');
} 

.cell.T {
  background-image: url('ui/faces/face_18.png');
}

.cell.Z {
  background-image: url('ui/faces/face_11.png');
}

footer {
  background-color: black;
  color: white;
  text-align: center;
  width: 100%;
  position: fixed;
  bottom: 0;
  left: 0;
  opacity: 0; 
  transition: opacity 0.5s ease;
}

footer:hover {
  text-decoration: pink;
  transition: opacity 0.5s ease;
  opacity: 1;
}

.mobile-only-controls {
  display: none;
}

@media screen and (max-width: 768px) {
  .app {
    display: grid; /* Ensure this is a grid container */
    grid-template-areas:
      ". title ."
      ". game ."
      ". controls .";
    grid-template-columns: 1fr; /* Adjust for smaller screens */
    grid-template-rows: auto; /* Adjust the row sizes as needed */
  }

  .mobile-only-controls {
    display: flex;
    flex-direction: column;
    align-items: center; 
  }
  
  .mobile-only-controls img {
    margin: 5px; 
  }
  
  .middle-row {
    height: 68px;
    display: flex;
    justify-content: center; 
  }

  .controls {
    grid-area: controls;
    justify-self: center; 
    align-self: center; 
  }

  .upcoming {
    display: none;
  }

  .preview, .spacer {
    display: none;
  }

  .title {
    transform: scale(0.5); 
  }

  .cell {
    width: 30px;
    aspect-ratio: 1;
  }
}

@media screen and (max-width: 480px) {
  /* Further adjustments for very small screens */
  .title {
    transform: scale(0.5);
  }

  .cell {
    width: 30px;
    aspect-ratio: 1;
  }
}